# Required Environments
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=5432

# Optional Environments
API_KEY_HASH=
MNEMONIC=
KOIOS_AUTH_TOKEN=
ETHEREUM_RPC_AUTH_TOKEN=
BLOCKFROST_PROJECT_ID=
OVERRIDE_LOKI_BASIC_AUTH=
WATCHER_HOST=
WATCHER_PORT=
WATCHER_IMAGE_VERSION=
UI_IMAGE_VERSION=
