# Required Environments
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=

# Optional Environments
WATCHER_PORT=
UI_PORT=
WATCHER_IMAGE_VERSION=
UI_IMAGE_VERSION=
DB_INSTANCE_NUMBER=
WATCHER_INSTANCE_NUMBER=
UI_INSTANCE_NUMBER=
