# For Enable Alloy Service in Compose
COMPOSE_PROFILES=

# Required Environments
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=5432

# Optional Environments
API_KEY_HASH=
MNEMONIC=
KOIOS_AUTH_TOKEN=
BASE_RPC_AUTH_TOKEN=
ETHEREUM_RPC_AUTH_TOKEN=
BINANCE_RPC_AUTH_TOKEN=
BLOCKFROST_PROJECT_ID=
OVERRIDE_LOKI_BASIC_AUTH=
BITCOIN_RPC_USERNAME=
BITCOIN_RPC_PASSWORD=
UNISAT_API_KEY=
ORDISCAN_API_KEY=
WATCHER_HOST=
WATCHER_PORT=
WATCHER_IMAGE_VERSION=
UI_IMAGE_VERSION=

# If true, this service expects the monitoring stack to be deployed on this same machine and will connect to its external networks.
IS_SAME_HOST=true
