# URL of your Loki server (its default value is http://loki:3100/loki/api/v1/push that usable when monitoring and watcher on the same machine)
LOKI_URL=http://loki:3100/loki/api/v1/push

# Basic auth credentials for Loki (leave empty if not required)
LOKI_USERNAME=
LOKI_PASSWORD=
