# URL of your Prometheus remote write endpoint (its default value is http://prometheus:9090/api/v1/write that usable when monitoring and watcher on the same machine)
PROMETHEUS_URL=http://prometheus:9090/api/v1/write

# Basic auth credentials for Prometheus remote write (leave empty if not required)
PROMETHEUS_USERNAME=
PROMETHEUS_PASSWORD=

# A label to uniquely identify this host in metrics (e.g., guard-service)
PROMETHEUS_LABEL_HOST=guard-service
