# For Enable logger and monitoring Service in Compose
COMPOSE_PROFILES=

# The external URL where Prometheus is accessible, usually an IP or domain. Leave it empty if you wont expose your prometheus on web.
PROMETHEUS_EXTERNAL_URL=

# The retention time for Prometheus data. default is 15d
PROMETHEUS_RETENTION_TIME=15d

# The maximum size for Prometheus storage. default is 10GB
PROMETHEUS_RETENTION_SIZE=10GB

# By default, exposed ports are bound to 127.0.0.1 for security.
# You can change both the IP and the Port here. Set to 0.0.0.0:PORT to expose them publicly.
PROMETHEUS_PUBLISHED_PORT=127.0.0.1:9090
LOKI_PUBLISHED_PORT=127.0.0.1:3100
GRAFANA_PUBLISHED_PORT=127.0.0.1:3000

# Grafana Admin Credentials (if leave them empty the default values are admin, admin)
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# Monitoring Basic Auth (Applies to both Prometheus and Loki). Leave them empty wont have Basic Auth.
MONITORING_ADMIN_USER=
MONITORING_ADMIN_PASSWORD=

# Alertmanager configuration
DISCORD_WEBHOOK_URL=
