global:
  scrape_interval: 15s
  scrape_timeout: 10s

  external_labels:
    host: "PROMETHEUS_LABEL_HOST"
    role: "guard-monitoring"

remote_write:
  - url: "PROMETHEUS_URL"
    basic_auth:
      username: "PROMETHEUS_USERNAME"
      password: "PROMETHEUS_PASSWORD"
    queue_config:
      capacity: 10000
      max_samples_per_send: 2000
      batch_send_deadline: 5s
      min_shards: 1
      max_shards: 10

scrape_configs:
  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "guard-node-exporter:9100"
        labels:
          instance: "guard-service"

  - job_name: "cadvisor"
    honor_timestamps: false
    static_configs:
      - targets:
          - "guard-cadvisor:8080"
        labels:
          instance: "guard-service"
